<div class="fieldpicker-container">
	<ul class="nav nav-tabs nav-justified">
		{{if composites.length > 0}}
			<li data-id="${composites[0].c_id}" class="active ${composites[0].isArray == 1 ?'array-field':''}"><a data-toggle="tab" href="#ctab_${pickerKey }_0">${composites[0].cname }</a></li>
		{{/if}}
		{{if composites.length > 1}}
			<li data-id="${composites[1].c_id}" class="${composites[1].isArray == 1?'array-field':''}"><a data-toggle="tab" href="#ctab_${pickerKey }_1">${composites[1].cname }</a></li>
			{{if composites.length > 2}}
				<li data-id="${composites[2].c_id}" class="${composites[2].isArray == 1?'array-field':''}"><a data-toggle="tab" href="#ctab_${pickerKey }_2">${composites[2].cname }</a></li>
			{{/if}}
		{{/if}}
		{{if composites.length > 3}}
			<li class="dropdown">
				<a data-toggle="dropdown" class="fa dropdown-toggle" href="#">
					<span>更多</span>
				</a>
				<ul class="dropdown-menu dropdown-blue">
					{{each(i, composite) composites}}
						{{if i > 2}}
							<li data-id="${composites[i].c_id}" class="${composite.isArray == 1?'array-field':''}"><a data-toggle="tab" href="#ctab_${pickerKey }_${i }">${composite.cname }</a></li>
						{{/if}}
					{{/each}}
				</ul>
			</li>
		{{/if}}
	</ul>
	<div class="tab-content">
		{{each(i, composite) composites}}
			<div id="ctab_${pickerKey }_${i }" class="tab-pane {{if i==0}}active{{/if}}">
				<div class="fieldpicker-field-container">
					{{each(i, field) composite.fields}}
						<a href="#" data-id="${field.id}" class="fieldpicker-field-item">${field.cname }</a>
					{{/each}}
				</div>
			</div>
		{{/each}}
	</div>
</div>
