@CHARSET "UTF-8";

.module-list-tmpl #export-window .export-window-title h3 {
    margin: 5px 10px;
    font-size: 18px;
}

.module-list-tmpl .export-window-title {
    border-bottom: 1px solid #f0f0f0;
}

.module-list-tmpl div#export-window {
	height: auto;
	padding-bottom: 10px;
}

.module-list-tmpl #export-window>div>.row {
    margin-left: 0;
    margin-right: 0;
}

.module-list-tmpl #export-window * {
    font-size: 15px;
}

.module-list-tmpl #export-window input#export-range-start,#export-window input#export-range-end {
    width: 6em;
}

.module-list-tmpl #export-window .data-range>div {
}

.module-list-tmpl #export-window #export-progress{
	margin: 0;
    margin-top: 1.5em;
    padding: 0;
    margin-left: 1em;
    margin-right: 2em;
    float: left;
    width: 86%;
    overflow: visible;
}
.module-list-tmpl #export-window #export-progress .progress-text {
    position: absolute;
    top: -1.3em;
    font-size: small;
    left: 36%;
    color: #666;
}
.module-list-tmpl #export-window .row.export-operate-area {
    border-bottom: none;
}
.module-list-tmpl #export-window div#export-msg {
    border-bottom: none;
    border-top: none;
}

.module-list-tmpl #export-window div#export-msg >* {
    font-size: 10px;
}

.module-list-tmpl #export-window div#export-msg {text-indent: 1em;line-height: 1em;height: 1.2em;word-break: keep-all;}