@CHARSET "UTF-8";
.dtmpl-update {
    min-height: 95%;
}
.dtmpl-update .widget-caption{
	font-size: 1.3em;
}
.dtmpl-update .movable, .dtmpl-update .movable label{
	cursor: move;
}
.dtmpl-update .field-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 60px;
}
.dtmpl-update .field-item , .dtmpl-update .field-item-placeholder{
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    line-height: 2.5em;
    min-height: 2.5em;
    font-size: 1.1em;
    float: left;
    border-bottom: 1px solid #ddd;
    position: relative;
    margin: 7px 0;
}
.dtmpl-update .field-item-placeholder{
	background-color: #888;
}
.dtmpl-update .field-item-placeholder.dbcol{
	width: 100% !important;
}
.dtmpl-update .dbcol.field-item {
    width: 100% !important;
}
.dtmpl-update label.field-title {
    width: 20%;
    padding-right: 4%;
    font-weight: bold;
}
.dtmpl-update .dbcol label.field-title {
    width: 10% !important;
    padding-right: 2% !important;
}

.dtmpl-update .group-item-placeholder{
	width: 100%;
	height: 40px;
	background-color: #aaa;
}
.dtmpl-update .field-item>.field-title, .dtmpl-update .field-item>.field-value{
	display: inline-block;
    min-height: 2.5em;
    line-height: 2.5em;
    padding-top: 0;
    margin-top: 0;
    font-size: 16px;
    vertical-align: middle;
    word-break: break-all;
}
.dtmpl-update span.field-view {
    line-height: 2em;
    word-break: break-word;
    display: inline-block;
}
.dtmpl-update .field-item .operate-buttons, .dtmpl-update .widget-caption>.operate-buttons {
	position: absolute;
    font-size: 1.4em !important;
    background-color: #fff;
    line-height: 2em !important;
    height: 2em !important;
    padding: 0 1em;
    border-radius: 7px;
    border: 1px solid #eee;
    display: none;
    cursor: default;
}
.dtmpl-update .field-item .operate-buttons{
	left: 18%;
    top: -2em;
}
.dtmpl-update .field-item.dbcol .operate-buttons{
	left: 9%;
    top: -2em;
}
.dtmpl-update .operate-buttons a{
	cursor: pointer;
	color: #57b5e3;
	margin: 0 0.2em;
}
.dtmpl-update .operate-buttons a:HOVER{
	color: #c9e2dd;
}
.dtmpl-update .form-group:HOVER .operate-buttons{
	display: block;
}
.dtmpl-update .widget-caption>.operate-buttons{
	left: 1em;
    top: -2em;
}
.dtmpl-update .widget-caption:HOVER>.operate-buttons{
	display: inline-block;
}


.dtmpl-update .field-value {
    width: 70%;
    max-height: 20em;
    overflow-x: hidden;
    overflow-y: auto;
}
.dtmpl-update input.field-view{
	font-size: 18px;
	height: 2em;
	line-height: 2em;
}
.dtmpl-update #group-container {
	margin-top: 20px;
}
.dtmpl-update .remove-group{
	font-size: 1.5em;
	cursor: pointer;
	color: #57b5e3;
}
.dtmpl-update .remove-group:HOVER {
	color: #c9e2dd;
}
.dtmpl-update .group-container{
	padding-bottom: 50px;
}
.dtmpl-update .box-holdplace{
	background-color: #888 !important;
	border: 1px solid #000;
}
.dtmpl-update #operate-area {
    font-size: 3em;
    line-height: 1.23em;
    padding-right: 1em;
    position: absolute;
    bottom: 20px;
    right: 1em;
    z-index: 1000;
    width: 1em;
}
.dtmpl-update #operate-area a i{
	cursor: pointer;
	color: #57b5e3;
	opacity: 0.5;
}
.dtmpl-update #operate-area a i:HOVER{
	opacity: 1;
}
.dtmpl-update span.group-title{
	cursor: move;
	padding-right: 1em;
}
.dtmpl-update input.group-title{
	display: inline-block;
    height: 1.5em;
    font-size: 0.8em;
    width: 10em;
}
.dtmpl-update input.field-title{
	width: 5em;
	height: 1.4em;
	line-height: 1.5em;
	display: inline-block;
	font-size: 16px;
	text-align: right;
}

.dtmpl-update span.field-title-d {
    display: inline !important;
    word-break: keep-all !important;
    opacity: 0 !important;
    white-space: nowrap;
}
.dtmpl-update .header-row>* {
    height: 2.5em;
    line-height: 2.5em;
    text-align: right;
    margin-bottom: 0;
    font-size: 15px !important;
    vertical-align: middle;
}
.dtmpl-update input#tmplName {
    font-size: 1em;
    line-height: 2.5em;
    height: 2.5em;
}

.dtmpl-update a#save i{
    color: #EEAD0E !important;
}
.dtmpl-update a#save i:HOVER{
    color: 	#FFC125 !important;
}
.dtmpl-update .field-group-array th{
	min-width: 50px;
}
