@CHARSET "UTF-8";
html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.main-container {
    position: absolute;
    padding: 0;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}
div.page-container, div.page-container, div.page-container>.page-content{
	height: 100%;
}

div.page-container>.page-content{
	position: relative;
}
.div.page-container>.page-content > .tabbable {
	height: 100%;
}
div.tab-warp{
	position:relative;
	height: 30px;
}
a.move {
	display:none;
	position:absolute;
	top:0;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#333;
	font-size:14px;
	z-index:999;
	background-color:#eeeeee;
	text-decoration:none;
}
a.left {
	left:0;
	border-right: 1px solid #d6d8dd;
}
a.right {
	right:0;
	border-left: 1px solid #d6d8dd;
}
div.nav-tabs-wrap {
	height: 30px;
	background-color: #e9e9e9;
}
ul.nav-tabs{
	height: 30px;
	position:absolute;
	top:0;
}
div.tab-content{
	position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
    background-color: #ffffff;
}
div.tab-content>.tab-pane{
	width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #656565;
    font-size: 14px;
}
div.tab-content>.tab-pane>h1{
	padding-left: 20px;
}
#loading-container{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
    vertical-align: middle;
}
.modal-backdrop {
    background-color: #333;
}
/* 分页模块 */
.cpf-paginator{
	text-align: right;
	margin-top: 5px;
}
li.cpf-paginator-jump{
	margin-right: 45px;
}
.cpf-paginator-jump>*{
    padding: 5px 10px;
    font-size: 12px;
}
.cpf-paginator-jump-text{
    margin-left: 1em;
    border-width: 1px;
    border-color: #ccc;
    width: 5em;
}
.cpf-paginator-jump-button{
	top: -1px;
    width: 3em;
    background: #126def;
    color: #fff;
    border-color: #126def;
    border-radius: 0;
    text-align: center;
}
.cpf-paginator-pagesize>select{
	float: left;
    margin-right: 1em;
    padding: 5px 10px;
    font-size: 12px;
    vertical-align: middle;
}
li.cpf-paginator-total-count>span {
    border: none;
    color: #555;
    padding: 7px 10px;
    font-size: 1em;
}
li.cpf-paginator-total-count>span:HOVER {
    background-color: inherit;
    color: inherit;
    border: inherit;
}
/* 标签页模块 */
.navbar .navbar-inner{
	background-color: #0c173e;
}
li.main-tab-title{
	position: relative;
}
li.main-tab-title>a{
	padding-right: 25px;
}
.main-tab-title>span{
    position: absolute;
    top: 9px;
    right: 16px;
    color: #000;
    z-index: 100;
    font-size: 10px;
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
}
.main-tab-title>span:HOVER{
	font-weight: 700;
}
.main-tab-content{
	overflow-y: auto;
    overflow-x: hidden;
}

/* 弹出框样式 */
/* .modal-body-wrapper{
	height: 100%;
} */
.modal-footer{
	padding-top: 5px;
	padding-bottom: 5px;
}

/* 详情样式 */
.page-body {
    padding-top: 10px;
    background-color: #fff;
    height: 100%;
    margin-left: 0;
}
.detail {
    display: table;
    width: 100%;
    min-height: 95%;
    font-size: 15px;
}
.detail .row {
    margin-top: 9px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 3px;
}
.detail>dl{
	display: table-row;
    width: 100%;
}
.detail>dl>dt, .detail>dl>dd{
	border-bottom: dashed 1px #ddd;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.detail>dl>dt{
	display: table-cell;
    width: 8em;
    text-align: center;
}
.detail>dl>dd{
	display: table-cell;
	padding: 0 0.5em;
}


.tree .tree-actions >i.fa {
    margin-right: 6px;
    padding: 1px 0;
}


.toast-center{
	top	: 7%;
	left: 35%;
}

/* 列表页模块 */
th,td{
	text-align: center;
}

.ui-content{
	padding-top: 0.6em;
}

.condition-area>* {
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    padding: 0;
    display: inline;
}

.condition-area>label{
	margin-bottom: 0;
	margin: 0 0.3em;
}
.condition-area select,.condition-area input[type="text"]{
	padding: 0 0.5em;
}

label.form-control-title {
	display: inline-block;
    height: 2.5em;
    line-height: 2.5em;
    margin-bottom: 0;
    margin-right: 0.5em;
    margin-left: 1em;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {
    padding-left: 0;
}
.daterangepicker .ranges .input-mini {
    width: 12em;
}
.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.ampmselect {
    width: 5em;
    margin-bottom: 0;
}


.datepicker.dropdown-menu{
	z-index: 4000;
}


.progress-cover{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.cmd-right {
    float: right;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 1.1em;
}
.cmd-right a{
    color: #fff !important;
}
nav{
	padding: 1em 0;
}
.cpf-checkbox{
	cursor: pointer;
	margin: 5px;
}
.cpf-checkbox>span:BEFORE{
	font-family: fontAwesome;
    font-weight: bold;
    font-size: 13px;
    color: #333;
    content: " ";
    background-color: #fafafa;
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 18px;
    line-height: 16px;
    min-width: 18px;
    margin-right: 5px;
    margin-bottom: 2px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.cpf-checkbox.checked>span:BEFORE,.cpf-checkbox>input[type="checkbox"]:checked+span:BEFORE {
	display: inline-block;
    content: '';
    background-color: #f5f8fc;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px rgba(255,255,255,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px rgba(255,255,255,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px rgba(255,255,255,.1);
    border-color: #333;
}
.cpf-checkbox.cpf-checkbox-xs{
	font-size: 13px;
}
.cpf-checkbox.cpf-checkbox-xs>span:BEFORE{
	height: 13px;
    width: 13px;
    line-height: 13px;
    min-width: 13px;
}
@media (min-width: 768px){
	.form-horizontal .form-stat-value {
	    padding-top: 7px;
	    margin-bottom: 0;
	    text-align: left;
	}
}
.cpf-inner-page{
	position: relative !important;
}
.inner-page-loading{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #999;
    opacity: 0.2;
    text-align: center;
    vertical-align: middle;
}
.inner-page-loading>img {
    width: 50px;
    z-index: 999999;
    height: 50px;
}

.datacenter-logo {
	padding-left: 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}
.datacenter-logo:hover {
	text-decoration: none;
	color:#ffffff;
}
div#cpf-staticview-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.float-operate-area {
    font-size: 3em;
    line-height: 1.23em;
    padding-right: 1em;
    position: absolute;
    bottom: 20px;
    right: 1em;
    z-index: 1000;
    width: 1em;
}
.float-operate-area a i{
	cursor: pointer;
	color: #57b5e3;
	opacity: 0.5;
}

.float-operate-area a i:HOVER{
	opacity: 1;
}
.float-operate-area a.btn-save i{
	color: #53a93f;
}

input[type="text"].dblclicked{
	height: 2em;
	line-height: 2em;
}






div.detail-toggle-sublist {
    position: absolute;
    right: 2em;
    width: 400px;
    background-color: #fff;
    top: 40px;
    height: 323px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding: 10px 0;
    padding-bottom: 30px;
    overflow: hidden;
    z-index: 10;
}

div.detail-toggle-sublist div.detail-toggle-sublist-wrapper {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 420px;
}
.detail-toggle-sublist div.detail-toggle-sublist-wrapper>a {
	display: block;
    list-style: none;
    list-style-type: none;
    height: 70px;
    line-height: 3em;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}
.detail-toggle-sublist div.detail-toggle-sublist-wrapper>a:hover{
    background-color: #FFEC8B;
}

div.detail-toggle-sublist div.detail-toggle-sublist-wrapper {
    padding: 0;
    margin: 0;
}

div.detail-toggle-sublist div.detail-toggle-sublist-wrapper>a span.detail-toggle-sublist-icon {
    font-size: 22px;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #6495ED;
    color: #fff;
    border-radius: 50%;
    float: left;
}
div.detail-toggle-sublist div.detail-toggle-sublist-wrapper>a:hover span.detail-toggle-sublist-icon {
    background-color: #1E90FF;
}


div.detail-toggle-sublist span.detail-toggle-sublist-item-body {
    display: inline-block;
    width: 250px;
    height: 45px;
    margin-left: 10px;
}

.detail-toggle-sublist div.detail-toggle-sublist-wrapper>a:hover span.detail-toggle-sublist-item-body {
    font-weight: bold;
}

div.detail-toggle-sublist span.detail-toggle-sublist-item-name {
    height: 25px;
    margin: 0;
    font-size: 16px;
    line-height: 25px;
}

div.detail-toggle-sublist span.detail-toggle-sublist-item-date {
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-indent: 5px;
    color: #acacac;
}

.detail-toggle-sublist div.detail-toggle-sublist-wrapper>a.active .detail-toggle-sublist-icon {
    background-color: #ed4e2a !important;
}

.detail-toggle-sublist .detail-toggle-sublist-item-body>span {
    display: inline-block;
    width: 100%;
    margin: 0;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail-toggle-sublist div.detail-toggle-sublist-wrapper>a.active .detail-toggle-sublist-item-body>span {
    font-weight: normal !important;
}

.detail-toggle-sublist div.detail-toggle-sublist-wrapper>a.active {
    cursor: initial;
    background-color: #f8f8f8;
}

.detail-toggle-sublist .detail-toggle-sublist-operate {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    height: 30px;
    border-top: 1px solid #eee;
    line-height: 30px;
}
.detail-toggle-sublist .detail-toggle-sublist-operate i{
	cursor: pointer;
	color: #888;
}
.detail-toggle-sublist .detail-toggle-sublist-operate i:HOVER{
	color: #ccc;
}


.page-header .header-buttons a.import:before {
    background-color: #53a93f;
}

.page-header .header-buttons a.import:hover, 
.page-header .header-buttons a.import.active {
    color: #53a93f;
}

.page-header .header-buttons a.export:before {
    background-color: #ed4e2a;
}

.page-header .header-buttons a.export:hover, 
.page-header .header-buttons a.export.active {
    color: #ed4e2a;
}
